.App {
  display: flex;
  flex-direction: column;
}

.App-header {
    background-color: #222;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    color: white;
    display: flex;
}

.App-intro {
  font-size: large;
}

.world{
  margin-top: 2em;
  align-self: center;
  display: flex;
  background: #E9EBEE;
}